.action-header {
  border-bottom: 1px solid $line-color;
  margin: -50px -50px 50px;
  height: 62px;

  @media (max-width: $screen-sm-max) {
    margin: -10px -25px 50px;
  }
}

.action-header__search {
  padding: 0 25px;
  position: relative;
  
  input {
    border: 0;
    background-color: transparent;
    padding-left: 30px;
    height: 61px;
    color: darken($text-muted, 30%);
    line-height: 62px;
    font-size: 15px;
  }

  &:before {
    content: '\f002';
    font-family: $font-family-glyph;
    position: absolute;
    left: 25px;
    top: 23px;
    font-size: 16px;
    color: lighten($text-color, 10%);
    font-weight: normal;
  }
}

.action-header__item {
  line-height: 100%;

  &:not(.action-header__right) {
    float: left;
  }
}

.action-header__add {
  padding: 15px 25px;
}

.action-header__right {
  float: right;
}

.action-header__back {
  & > a {
    width: 60px;
    height: 62px;
    display: inline-block;
    margin-top: -1px;
    top: 2px;
    position: relative;

    &:before,
    &:after {
      font-family: $font-family-glyph;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      content: '\f104';
      @include transition(all, 300ms);
      font-size: 32px;
      text-align: center;
      line-height: 60px;
      color: lighten($text-color, 10%);
    }

    &:before {
      left: 0;
    }

    &:after {
      left: 22px;
      @include opacity(0);
    }

    &:hover {
      &:before {
        left: -22px;
        @include opacity(0);
      }

      &:after {
        left: 0;
        @include opacity(1);
      }
    }
  }
}

.action-header__title {
  font-size: 15px;
  padding-top: 24px;
}