* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #5c6267;
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #f1f1f1;
  padding: 20px 30px;
  color: #373d42;
  border-radius: 2px;
  overflow-x: auto;
}

a, a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;

  &:not(.container--small) {
    max-width: 700px;
  }
}

.container--small {
  max-width: 400px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

input,
textarea {
  &:focus {
    box-shadow: none;
    outline-width: 0;
  }
}