* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus,
  &:active {
    outline: none;
  }
}

body {
  background-color: $body-bg;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: $headings-font-weight;
  color: $heading-color;
  line-height: $line-height-heading;
}

h1 {
  & > a {
    & > img {
      width: 100px;
      vertical-align: middle;
      margin-left: 20px;
    }
  }
}

p {
  margin: 0 0 15px;
}

a {
  color: $link-color;
  
  &:hover {
    color: darken($link-color, 10%);
  }
  
  &, &:hover {
    text-decoration: none;
  }
}

*:not(a) {
  & > img {
    border-radius: 2px;
    max-width: 800px;
    width: 100%;
    border: 1px solid $line-color;
    padding: 5px;
    background-color: #fff;
  }
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
