.button {
  padding: 8px 12px;
  line-height: 100%;
  border-radius: 2px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-size: $font-size - 1;

  &:not([class*="button--"]) {
    @include button-types(#fff, $text-color, #efefef);

  }
}

.button--blue {
  @include button-types(#42A5F5, #fff, #42A5F5);
}

.button--green {
  @include button-types(#4CAF50, #fff, #4CAF50);
}

.button--red {
  @include button-types(#EF5350, #fff, #EF5350);
}
