pre {
  border-radius: 2px;
  overflow-x: auto;
  margin-bottom: 30px;
  position: relative;

  .hljs {
    padding: 25px 30px;
    border-radius: 3px;
  }

  &, code {
    font-family: $font-family-mono;
  }

  code {
    background: #232323;
    color: #e6e1dc;
    padding: 25px 30px;
    display: block;
  }
}

code {
  background: $code-bg;
  color: $code-color;
  border: 1px solid darken($code-bg, 5%);
  padding: 0 8px;
  white-space: pre;
  position: relative;
  top: -1px;
  border-radius: 2px;
  font-size: 0.95em;
  display: inline-block;
}