pre {
  font-family: $font-family-mono;
  color: $text-color;
  border-radius: 2px;
  overflow-x: auto;
  margin-bottom: 30px;
  font-size: $font-size - 2;

  .hljs {
    padding: 25px 30px;
  }

  code {
    padding: 0;
    background-color: transparent;
    color: darken($text-color, 10%);
  }
}

code {
  background: #F1F1F1;
  padding: 3px 10px;
  white-space: pre;
  position: relative;
  top: -1px;
  border-radius: 2px;
  font-size: $font-size - 2;
  display: inline-block;
}