.dashboard-stats {
  margin-bottom: 30px;

  @media(max-width: $screen-sm-max) {
    margin-top: 15px;
  }
}

.dashboard-stats__item {
  border-radius: 2px;
  padding: 15px 20px;
  color: #fff;
  margin-bottom: 30px;

  h2 {
    color: #fff;
    margin: 0;
    line-height: 100%;
    font-size: 25px;
    font-weight: 500;
  }

  small {
    display: block;
    font-size: 14px;
    margin-top: 5px;
  }
}

.dashboard-stats__item--orange {
  background-color: #FFA726;
}

.dashboard-stats__item--amber {
  background-color: #FFC107;
}

.dashboard-stats__item--red {
  background-color: #EF5350;
}

.dashboard-stats__item--deep-orange {
  background-color: #FF7043;
}

.dashboard-recent {
  .col-lg-6 {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}