.dashboard-stats {
  margin-bottom: 30px;

  @media(max-width: $screen-sm-max) {
    margin-top: 15px;
  }
}

.dashboard-stats__item {
  border-radius: 2px;
  padding: 15px 20px;
  background-color: $dashboard-item-bg;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  h2 {
    color: $white;
    margin: 0;
    line-height: 100%;
    font-size: 1.8em;
    font-weight: 500;
  }

  small {
    display: block;
    font-size: 0.9em;
    margin-top: 5px;
    color: rgba($white, 0.6);
    line-height: 100%;
  }
}

.dashboard-recent {
  .col-lg-6 {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}