.algolia-autocomplete {
  width: 100%;
  left: 0 !important;

  .algolia-docsearch-suggestion--title {
    font-weight: normal;
    font-size: 0.85em;
  }

  .ds-dropdown-menu {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    min-width: 500px;
    max-width: 800px;
    width: 100%;
    border: 0;

    @media(max-width: $screen-sm-max) {
      min-width: 200px;
    }

    [class^=ds-dataset-] {
      border: 0;
      border-radius: 2px;
      padding: 10px 30px;
    }

    &:before {
      display: none;
    }
  }

  .algolia-docsearch-suggestion--subcategory-column {
    font-size: 0.75em;
  }
}


