.dropdown {
  position: relative;
  display: inline-block;

  &:not(.dropdown--up) {
    .dropdown__menu {
      top: 0;
    }
  }

  &.dropdown--open {
    .dropdown__menu {
      display: block;
      z-index: 101;
    }
  }
}

.dropdown__menu {
  position: absolute;
  min-width: 150px;
  background-color: $white;
  border: 1px solid $dropdown-border-color;
  margin: 0;
  list-style: none;
  padding: 10px 0;
  text-align: left;
  display: none;
  box-shadow: $box-shadow-accent;

  &:not(.dropdown__menu--right) {
    left: 0;
  }

  & > li {
    & > a {
      display: block;
      padding: 7px 15px;
      color: $dropdown-link-color;
      font-size: 0.85em;

      &:hover {
        background-color: $dropdown-link-hover-bg;
      }
    }
  }
}

.dropdown__menu--right {
  right: 0;
}

.dropdown--up {
  .dropdown__menu {
    bottom: 0;
  }
}

.dropdown__menu--block {
  padding: 20px 25px;
  min-width: 300px;

  .button {
    margin-top: 30px;
  }
}

.dropdown__title {
  color: $heading-color;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 0.9em;
  text-transform: uppercase;
}