#footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid lighten($line-color, 1%);
  font-size: 0.85em;

  &, a {
    color: $footer-color;
  }

  a:hover {
    color: darken($footer-color, 10%);
  }
}

.footer__img {
  display: inline-block;
  max-width: 100px;
  max-height: 50px;
  vertical-align: text-bottom;
  margin-left: 10px;

  @media (max-width: $screen-xs-max) {
    display: block;
    margin: 10px auto 0;
  }
}
