.form-wrapper {
  background-color: $form-wrapper-bg;
  padding: 35px;
  border: 1px solid $form-wrapper-border-color;
  border-radius: 2px;
}

.form-wrapper--stack {
  margin-bottom: 30px;
}

.form-wrapper--centered {
  max-width: 700px;
  margin: 0 auto;
}

.form-wrapper--login {
  margin: 30px auto 0;
  max-width: 400px;
}

.form-group {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & > label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.85em;
  }
}

.form-group select,
.form-group__field {
  width: 100%;
  border: 1px solid $input-border;
  padding: 8px 12px;
  color: $text-strong;
  font-size: 0.85em;
  border-radius: 0;
  background-color: transparent;
  @include transition(all, 300ms);

  &:focus {
    color: darken($text-muted, 20%);
    border-color: $input-focus-border-color;
  }
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea.form-group__field {
  resize: none;
  min-height: 100px;
}

.form-wrapper__footer {
  margin: 30px -35px -35px;
  padding: 25px;
  border-top: 1px solid $input-border;
  text-align: center;

  .button {
    margin: 0 2px;
  }
}

.form-footer {
  margin-top: 30px;
  text-align: center;

  .button {
    margin: 0 2px;
  }
}


/*---------------------------
    Color Picker
----------------------------*/
.color-pick {
  position: relative;
  width: 100%;

  .dropdown__menu {
    padding: 20px;
    top: 34px !important;
  }
}

input.color-pick__value {
  background-color: #fff !important;
  color: $text-strong !important;
  
  &:focus {
    & ~ .dropdown__menu {
      border-top-color: $input-focus-border-color;
    }
  }
}

.color-pick__preview {
  position: absolute;
  right: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}