.form-wrapper {
  background-color: $form-wrapper-bg;
  border-radius: 2px;
}

.form-wrapper--stack {
  margin-bottom: 30px;
}

.form-wrapper--centered {
  max-width: 700px;
  margin: 0 auto;
}

.form-wrapper--login {
  margin: 100px auto 0;
  max-width: 400px;
  width: calc(100% - 50px);
  padding: 35px;
  border: 1px solid $border-accent-color;

  @media(max-width: $screen-sm-max) {
    margin-top: 25px;
  }
}

.form-group {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    padding: 0 13px;
    color: $heading-color;
  }
}

.form-group select,
.form-group__field {
  width: 100%;
  border: 1px solid $input-border;
  padding: 8px 12px;
  color: $text-strong;
  font-size: 0.85em;
  border-radius: 0;
  background-color: transparent;
  @include transition(all, 300ms);

  &:focus {
    color: darken($text-muted, 20%);
    border-color: $input-focus-border-color;
  }
}

.form-group select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea.form-group__field {
  resize: none;
  min-height: 100px;
}

.form-wrapper__footer {
  margin: 0 -35px -35px;
  padding: 20px;
  text-align: center;

  .button {
    margin: 0 1px;
  }
}

.form-footer {
  margin-top: 30px;
  text-align: center;

  .button {
    margin: 0 2px;
  }
}


/*---------------------------
    Help Icon
----------------------------*/
.form-group__help {
  position: absolute;
  top: 3px;
  right: 1px;
  cursor: pointer;
  color: #c2c2c2;
  
  &:hover {
    color: darken(#c2c2c2, 25%);
  }
}


/*---------------------------
    Validation
----------------------------*/
.field_with_errors {
  .form-group__field {
    border-color: lighten($red, 25%);
  }

  label.message {
    text-align: right;
    color: $red;
    font-size: 0.75em;
  }
}