#header {
  background-color: $header-bg;
  width: 100%;
  z-index: 10;
  position: relative;

  @media(min-width: $screen-md-min) {
    height: 82px;
    padding: 21px 33px;
  }

  @media (max-width: $screen-sm-max) {
    height: 62px;
    padding: 11px;
  }

  @include clearfix();
}

.header__brand {
  float: left;
  font-size: 22px;
  line-height: 100%;
  text-transform: uppercase;
  height: 100%;
  @include no-select();

  @media (max-width: $screen-sm-max) {
    font-size: 16px;
    line-height: 100%;
    padding: 10px 15px;
    margin-left: 62px;
  }

  &:before {
    height: 100%;
    width: 1px;
    content: '';
  }
}

.header__brand:before,
.header__logo,
.header__title {
  display: inline-block;
  vertical-align: middle;
}

.header__title {
  &,
  a,
  a:hover,
  a:focus {
    color: $logo-color;
  }
}

.header__logo {
  max-height: 41px;
  max-width: 150px;
  margin-right: 8px;

  @media (max-width: $screen-sm-max) {
    max-height: 30px;
  }
}

.header__search {
  @media(min-width: $screen-md-min) {
    float: right;
    margin-top: 2px;
    position: relative;
    width: 300px;
    display: block !important;
  }

  @media (max-width: $screen-sm-max) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $header-bg;
    text-align: center;
    padding: 13px;
  }

  input[type=text] {
    border-radius: 2px;
    border: 0;
    padding: 7px 15px 7px 38px;
    font-size: 15px;
    width: 100%;
    background-color: rgba($black, 0.3);
    text-align: left;
    color: $header-link-color;
    @include placeholder($header-link-color);
  }
}

.header__search__inner {
  position: relative;

  @media (max-width: $screen-sm-max) {
    display: inline-block;
    max-width: 700px;
    width: 100%;
  }

  & > i[class*="header__search__"] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 38px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: rgba($white, 0.3);
  }
}

.header__search__icon {
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.header__search__close {
  &:hover {
    cursor: pointer;
    color: darken($text-color, 5%);
  }

  @media (min-width: $screen-md-min) {
    display: none;
  }
}

.header__menu {
  float: right;
  margin-left: 30px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      display: inline-block;

      & > a {
        display: block;
        width: 39px;
        text-align: center;
        font-size: 21px;
        height: 39px;
        border-radius: 50%;
        line-height: 38px;
        color: $header-link-color;
        margin-left: 5px;
        @include transition(background-color, 200ms);

        & > i {
          line-height: 100%;
        }

        &:hover {
          background-color: rgba(0,0,0,0.2);
        }
      }

      &.header__menu__search {
        & > a {
          font-size: 19px;
        }

        @media (min-width: $screen-md-min) {
          display: none;
        }
      }

      @media (max-width: $screen-xs-max) {
        &:not(.header__menu__search) {
          display: none;
        }
      }
    }
  }
}

.header__trigger {
  font-size: 17px;
  line-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  text-align: center;
  padding-top: 22px;
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
  color: $header-link-color;

  @media (min-width: $screen-md-min) {
    display: none;
  }
}