#header {
  background-color: $header-bg;
  width: 100%;
  z-index: $header-z-index;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);

  @include clearfix();
}

// Brand
.header__brand {
  float: left;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  height: 100%;
  padding-top: 2px;
  @include no-select();

  @media (max-width: $screen-sm-max) {
    margin-left: 55px;
  }

  &:before {
    height: 100%;
    width: 1px;
    content: '';
  }
}

.header__brand:before,
.header__logo,
.header__title {
  display: inline-block;
  vertical-align: middle;
}

.header__title {
  &,
  a,
  a:hover,
  a:focus {
    color: $logo-color;
  }
}

.header__logo {
  max-height: 35px;
  max-width: 150px;
  margin-right: 8px;
}


// Search
.header__search {
  @media(min-width: $screen-md-min) {
    margin-top: 2px;
    position: relative;
    overflow: hidden;
  }

  @media (max-width: $screen-sm-max) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $header-bg;
    text-align: center;
    padding: 13px;
  }

  input[type=text] {
    border-radius: 2px;
    border: 0;
    padding: 6px 15px 8px 38px;
    font-size: 15px;
    width: 100%;
    background-color: rgba($black, 0.3);
    text-align: left;
    color: rgba($white, 0.7);
    @include placeholder(rgba($white, 0.7));
  }
}

.header__search__inner {
  position: relative;
  max-width: 60%;
  margin: 0 auto;

  @media (max-width: $screen-sm-max) {
    display: inline-block;
    max-width: 700px;
    width: 100%;
    margin-top: 4px;
  }

  & > i[class*="header__search__"] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 38px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: rgba($white, 0.5);
  }
}

.header__search__icon {
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}

.header__search__close {
  &:hover {
    cursor: pointer;
    color: darken($text-color, 5%);
  }

  @media (min-width: $screen-md-min) {
    display: none;
  }
}


// Menu (icons)
.header__menu {
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      display: inline-block;

      & > a {
        display: block;
        width: 39px;
        text-align: center;
        font-size: 18px;
        height: 39px;
        border-radius: 50%;
        line-height: 38px;
        color: $header-link-color;
        margin-left: 5px;
        @include transition(background-color, 200ms);

        & > i {
          line-height: 100%;
        }

        &:hover {
          background-color: rgba(0,0,0,0.15);
        }
      }

      &.header__menu__search {
        @media (min-width: $screen-md-min) {
          display: none;
        }
      }

      @media (max-width: $screen-xs-max) {
        &:not(.header__menu__search) {
          display: none;
        }
      }
    }
  }
}


// Sidebar trigger for mobile
.header__trigger {
  font-size: 17px;
  line-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  text-align: center;
  padding-top: 25px;
  background-color: rgba(0,0,0,0.10);
  cursor: pointer;
  color: $header-link-color;

  @media (min-width: $screen-md-min) {
    display: none;
  }
}