.icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 100%;
}

.icon--more {
  @include image-retina('more.png', 'more@2x.png', 21px, 5px);
}

.icon--arrow-left {
  @include image-retina('arrow-left.png', 'arrow-left@2x.png', 18px, 14px);
}

