#main {
  &:not(.main--alt) {
    padding: 80px 0 0 300px;
  }

  &.main--alt {
    padding: 80px 0 0;
  }
}

.main__sidebar {
  width: 300px;
  z-index: 9;
  position: fixed;
  left: 0;
  height: calc(100% - 80px);
  overflow: hidden;
  padding: 40px;
  background-color: $sidebar-bg;

  &:hover {
    overflow-y: auto;
  }
}

.main__page {
  padding: 50px 50px 100px;
  position: relative;
}

.container {
  margin: 0 auto;

  &:not(.container--small) {
    max-width: 700px;
  }
}

.container--small {
  max-width: 400px;
}
