*:not(a) {
  img {
    &:not(.img-preview__img) {
      border: 1px solid $line-color;
      padding: 5px;
      background-color: #fff;
      @include transition(box-shadow, 300ms);
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.img-preview {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  @include animation(fadeIn, 500ms);
}

.img-preview__img,
.img-preview__close--back,
.img-preview__close--icon {
  position: absolute;
}

.img-preview__img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 2px;
  z-index: 2;
  @include animation(zoomIn, 400ms);
}

.img-preview__close--back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.img-preview__close--icon {
  z-index: 3;
  color: rgba(255,255,255,0.6);
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  top: 15px;
  right: 15px;
  cursor: pointer;
  @include transition(all, 300ms);

  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
  }
}


