.list-group {
  background-color: #fff;

  border-radius: 2px;
}

.list-group--centered {
  max-width: 700px;
  margin: 0 auto;
}

.list-group--action {
  .list-group__item {
    padding-right: 70px;
  }
}

.list-group__wrap {
  position: relative;
}

.list-group__item {
  padding: 20px 25px;
  display: block;
  position: relative;
  border: 1px solid $line-color;
  margin-bottom: -1px;
}

a.list-group__item,
.list-group__wrap {
  &:hover {
    background-color: #fdfdfd;
  }
}

.list-group__wrap,
.list-group__item {
  &:hover {
    .list-group__actions {
      @include opacity(1);
    }
  }
}

.list-group__title,
.list-group__text {
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
}

.list-group__title {
  font-weight: 500;
  color: $text-strong;
  font-size: $font-size - 1;
}

.list-group__text {
  color: $text-muted;
  margin-top: 8px;
  font-size: 12px;
}

.list-group__actions {
  height: 100%;
  width: 60px;
  right: 0;
  @include opacity(0);
  @include transition(opacity, 250ms);

  &, & > .dropdown__toggle {
    position: absolute;
    top: 0;
  }

  .dropdown__toggle {
    width: 36px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    left: 0;
    bottom: 0;
    margin: auto;
    color: lighten($text-color, 10%);
    border: 1px solid transparent;

    &:hover {
      border-color: $line-color;
      background-color: #fff;
    }
  }

}

.list-group-summary {
  color: $text-muted;
  padding-left: 30px;
  font-size: 14px;
  margin-bottom: 12px;
}