/*---------------------------
    Backdrop
----------------------------*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  cursor: pointer;
}


/*---------------------------
    Titles
----------------------------*/
.content-title {
  margin-bottom: 20px;
  position: relative;

  h2 {
    margin: 0;
    font-weight: normal;
  }

  p {
    color: $text-muted;
    margin-top: 10px;
  }
}

.content-title--box {
  padding: 0 30px;
}

.content-title__action {
  position: absolute;
  top: -2px;
  right: 25px;
  color: $text-muted;
  border: 1px solid $line-color;
  line-height: 100%;
  padding: 5px 10px;
  border-radius: 2px;
  font-size: $font-size - 4;

  &:hover {
    background-color: #fff;
    color: $text-muted;
  }
}


/*---------------------------
    Suggest Edit
----------------------------*/
@media(min-width: $screen-md-min) {
  .suggest-edit {
    position: absolute;
    top: 20px;
    right: 20px;

    .dropdown__toggle {
      background: #fff;
      font-size: 12px;
      padding: 5px 10px;
      display: inline-block;
      line-height: 100%;
      border-radius: 2px;
      border: 1px solid $line-color;

      &,
      &:hover,
      &:focus {
        color: $text-color;
      }
    }
  }
}

@media(max-width: $screen-sm-max) {
  .suggest-edit {
    display: none;
  }
}


/*---------------------------
    Page Loader
----------------------------*/
.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  padding: 20px;
  z-index: 1;
  @include animation(fadeIn, 300ms);

  & > i {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #e7e7e7;
    border-left-color: $blue;
    display: inline-block;
    @include animation(spinner, 800ms);
    @include animation-timing(linear);
    @include animation-iteration(infinite);

    &,
    &:after {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: inline-block;
    }

    &:after {
      content: '';
    }
  }
}

@-webkit-keyframes spinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    @include rotate(0deg);
  }
  100% {
    @include rotate(360deg);
  }
}


/*---------------------------
    Prevent Scroll
----------------------------*/
.prevent-scroll {
  height: 100vh;
  overflow: hidden;
}


/*---------------------------
    Clearfix
----------------------------*/
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}


/*---------------------------
    Icons
----------------------------*/
.icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.icon--gitter {
  background-image: url(icons/gitter.svg);
  width: 100%;
  height: 100%;
  position: relative;
  top: -1px;
  vertical-align: top;
}



.page-error {
  position: absolute;
  max-width: 500px;
  width: 100%;
  height: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  p {
    margin: 10px 0 0;
    color: #ababab;
    font-size: 16px;
  }

  h2 {
    font-size: 50px;
  }

  h2, h3 {
    margin: 0;
  }
}

.page-error__inner {
  background: #fff;
  padding: 40px 30px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 50px rgba(0,0,0,0.05);
}

.page-error__links {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  text-transform: uppercase;

  a {
    padding: 0 6px;
    color: #c7c7c7;
    
    &:hover {
      color: darken(#c7c7c7, 10%);

      i {
        @include rotate(-360deg);
      }
    }

    i {
      font-size: 20px;
      vertical-align: top;
      position: relative;
      top: -2px;
      margin-right: 1px;
    }
  }

  a, i {
    @include transition(all, 300ms);
  }
}