@mixin notify-variant ($bg-color, $color, $border-color, $icon) {
  background-color: $bg-color;
  $border-color: $border-color;
  color: $color;

  &.notify--icon:before {
    content: $icon;
  }
}

.notify {
  padding: 17px 22px;
  border-radius: 2px;
  font-size: $font-size - 3;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  position: fixed;
  bottom: -90px;
  left: 40px;
  z-index: 1000;
  @include opacity(0);
  @include transition(all, 1000ms);
}

.notify--show {
  bottom: 40px;
  @include opacity(1);
}

.notify--icon {
  padding-left: 65px;

  &:before {
    font-family: $font-family-glyph;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 45px;
    background: rgba(255, 255, 255, 0.15);
    line-height: 56px;
    text-align: center;
  }
}

.notify--info {
  @include notify-variant($light-blue, #fff, $light-blue, '\f05a');
}

.notify--success {
  @include notify-variant($green, #fff, $green, '\f00c');
}

.notify--danger {
  @include notify-variant($red, #fff, $red, '\f00d');
}

.notify--warning {
  @include notify-variant($orange, #fff, $orange, '\f071');
}
