.main__sidebar {
  width: 300px;
  z-index: 9;
  position: fixed;
  left: 0;
  height: calc(100% - 80px);
  overflow-y: auto;
  padding: 40px;
  background-color: $sidebar-bg;

  &:hover {
    overflow-y: auto;
  }

  @media(max-width: $screen-sm-max) {
    @include transition(all, 250ms);
    top: 62px;
    height: calc(100% - 62px);
    @include translate3d(-300px, 0, 0);

    &.toggled {
      z-index: 101;
      @include translate3d(0, 0, 0);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    }
  }
}

.main__menu {
  &, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & > li {
    & > a {
      color: #a2a2a2;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
    }

    & > ul {
      margin: 10px 0 40px;
      & > li {
        & > a {
          padding: 10px 40px;
          color: #5c6267;
          display: block;
          margin: 0 -40px 0;

          &:hover {
            background-color: #ededed;
          }

          &.active {
            background-color: #e5e5e5;
          }
        }
      }
    }
  }
}

.main__menu__icons {
  & > li {
    & > a {
      position: relative;

      & > i {
        height: 100%;
        width: 25px;
        font-size: 14px;
      }
    }
  }
}

.admin-login {
  margin-top: 50px;
}