.sidebar {
  width: $sidebar-width;
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-y: auto;
  padding: $sidebar-padding;
  background-color: $sidebar-bg;
  border-right: 1px solid $border-accent-color;
  @include transition(all, 250ms);

  &:hover {
    overflow-y: auto;
  }

  @media(max-width: $screen-md-max) {
    @include translate3d(-($sidebar-width + 20), 0, 0);
    border: 0;
  }
}

.sidebar--toggled {
  @media(min-width: $screen-lg-min) {
    @include translate3d(-($sidebar-width + 20), 0, 0);
  }

  @media(max-width: $screen-md-max) {
    z-index: 101;
    @include translate3d(0, 0, 0);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  }
}

.sidebar__close {
  background-color: #f7f7f7;
  padding: 10px 38px;
  font-size: 1.7em;
  color: $text-color;
  cursor: pointer;
  margin: -35px -35px 35px;
}

.sidebar:not(.sidebar--admin) {
  .sidebar__close {
    @media(min-width: $screen-sm-min) {
      display: none;
    }
  }
}

.sidebar--admin {
  .sidebar__close {
    @media(min-width: $screen-lg-min) {
      display: none;
    }
  }
}


// Branding
.brand {
  display: block;
  margin-bottom: 20px;
}

.brand__logo,
.brand__title {
  display: inline-block;
  vertical-align: middle;
}

.brand__logo {
  max-width: 45px;
  max-height: 45px;
  margin-right: 15px;
}

.brand__title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: $heading-color;
}


// Menu
.doclinks {
  margin: 0 (-$sidebar-padding);
  padding: 0;

  &:not(.doclinks--collapse) {
    .doclinks__category {
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
}

.doclinks__header {
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  padding: 15px $sidebar-padding;

  &, &:hover, &:focus {
    color: $heading-color;
  }
}

.doclinks__links {
  margin: 0 0 10px;
  list-style: none;
  padding: 0;

  & > li {
    & > a {
      padding: 6px $sidebar-padding;
      color: $sidebar-link-color;
      display: block;
      font-size: 0.95em;
      position: relative;
      @include transition(color, 200ms);

      &:hover {
        color: $sidebar-link-hover-color;
      }
    }

    &.active {
      & > a {
        background-color: $sidebar-link-active-bg;
        color: $sidebar-link-active-color;
        padding: 10px $sidebar-padding;
        border-top: 3px solid $sidebar-bg;
        border-bottom: 3px solid $sidebar-bg;
      }
    }
  }
}

.doclinks__category {
  border-bottom: 1px solid $border-accent-color;
  position: relative;

  &.active {
    .doclinks__links {
      display: block;
    }
  }
}

.doclinks--collapse {
  .doclinks__links {
    display: none;
  }

  .doclinks__category {
    &:before,
    &:after {
      content: '';
      width: 9px;
      height: 9px;
      position: absolute;
      top: 23px;
      right: 20px;
      @include transition(all, 300ms);
      @include opacity(0.3);
      background-position: center;
      background-repeat: no-repeat;
    }

    &:before {
      background-image: url(icons/plus.svg);
    }

    &:after {
      background-image: url(icons/minus.svg);
      @include scale3d(0,0,0);
    }

    &.toggled {
      &:before {
        @include scale3d(0,0,0);
      }

      &:after {
        @include scale3d(1,1,1);
      }
    }

    &:hover {
      &:before,
      &:after {
        @include opacity(1);
      }
    }
  }
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0 (-$sidebar-padding);

  & > li {
    & > a {
      display: block;
      padding: 8px $sidebar-padding;
      color: $sidebar-link-color;

      & > i {
        height: 100%;
        width: 20px;
        margin-right: 10px;
        text-align: center;
      }

      &.active {
        background-color: $sidebar-link-active-bg;
        color: $sidebar-link-active-color;
      }
    }
  }
}


// Login
.admin-login {
  margin-top: 50px;
}


// Backdrop
.sidebar__backdrop {

}

@media(min-width: $screen-lg-min) {
  .sidebar-backdrop {
    display: none;
  }
}

@media(max-width: $screen-md-max) {
  .sidebar-toggled {
    .sidebar-backdrop {
      cursor: pointer;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 8;
    }
  }
}