
#dialog-confirm fieldset {
  padding: 0;
  border: 0;
  margin-top: 25px;
}

#dialog-confirm {
  label, input { display:block; }
  input.text { margin-bottom:12px; width:100%; padding: .4em; }
  fieldset { padding:0; border:0; margin-top:25px; }
}
