/*--------------------
  Text Colors
--------------------*/
$text-color: #5c6267;
$text-muted: #9a9a9a;
$text-strong: #4e4e4e;


/*--------------------
  Border Colors
--------------------*/
$line-color: #efefef;
$input-border: #f4f4f4;