/*--------------------
  Base
--------------------*/
$body-bg: #fff;
$font-family: 'Lato', sans-serif;
$font-family-glyph: fontAwesome;
$font-family-headings: 'Lato', sans-serif;
$font-size: 15px;
$line-height: 1.6;
$border-accent-color: #f1f1f1;
$box-shadow-accent: 0 0 0 2px rgba(51, 51, 51, 0.02);

/*--------------------
  Heading
--------------------*/
$headings-font-weight: 700;
$heading-line-heading: 1.1;
$heading-color: #232323;


/*--------------------
  Text Colors
--------------------*/
$text-color: #4a4a4a;
$link-color: #237dac;
$text-muted: #969696;
$text-strong: #4e4e4e;


/*--------------------
  Header
--------------------*/
$header-bg: #373d42;
$logo-color: #fff;
$header-link-color: #fff;
$search-bg: #efefef;


/*--------------------
  Border Colors
--------------------*/
$line-color: #efefef;


/*--------------------
  Form
--------------------*/
$input-border: darken($border-accent-color, 1%);
$input-focus-border-color: #B3E5FC;
$form-wrapper-bg: #fff;
$form-wrapper-border-color: $border-accent-color;


/*--------------------
  Sidebar
--------------------*/
$sidebar-width: 320px;
$sidebar-bg: #fff;
$sidebar-heading-color: #969696;
$sidebar-link-color: lighten($text-color, 15%);
$sidebar-link-hover-bg: rgba(0,0,0,0.025);
$sidebar-link-hover-color: $heading-color;
$sidebar-link-active-bg: rgba(0,0,0,0.0);
$sidebar-link-hove-color: #5c6267;
$sidebar-link-active-color: $heading-color;
$sidebar-padding: 35px;


/*--------------------
  Colors
--------------------*/
$white: #fff;
$blue: #2196F3;
$light-blue: #03A9F4;
$red: #F44336;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$orange: #FF9800;
$amber: #FFC107;
$grey: #9E9E9E;
$blue-gray: #607D8B;
$dark: #252b2f;
$black: #000;


/*--------------------
  Code
--------------------*/
$code-bg: #F1F1F1;
$code-color: darken($text-color, 10%);
$pre-code-bg: #f8f8f8;
$pre-code-color: #333333;


/*--------------------
  Table
--------------------*/
$table-bg: #fff;
$table-border-color: $line-color;
$th-bg: #f8f8f8;
$th-color: darken($text-color, 10%);


/*--------------------
  Button
--------------------*/
$button-default-border-color: #efefef;
$button-default-bg: #fff;
$button-blue-bg: #42A5F5;
$button-blue-border-color: #42A5F5;
$button-red-bg: #EF5350;
$button-red-border-color: #EF5350;
$button-green-bg: #4CAF50;
$button-green-border-color: #4CAF50;


/*--------------------
  Footer
--------------------*/
$footer-color: #9F9F9F;


/*--------------------
  Dropdown
--------------------*/
$dropdown-bg: #fff;
$dropdown-border-color: $border-accent-color;
$dropdown-link-color: $text-color;
$dropdown-link-hover-bg: #f9f9f9;
$dropdown-link-hover-color: darken($dropdown-link-color, 10%);


/*--------------------
  Dashboard
--------------------*/
$dashboard-item-bg: #3a3a3a;


/*--------------------
  Blockquote
--------------------*/
$blockquote-border-color: #f27f40;
$blockquote-bg: #f9f9f9;