/*--------------------
  Base
--------------------*/
$body-bg: #fafafa;
$font-family: 'Lato', sans-serif;
$font-family-glyph: fontAwesome;
$font-family-headings: 'Lato', sans-serif;
$font-family-mono: 'Roboto Mono', monospace;
$font-size: 16px;
$line-height: 1.5;


/*--------------------
  Heading
--------------------*/
$headings-font-weight: 400;
$line-height-heading: 1.1;


/*--------------------
  Text Colors
--------------------*/
$text-color: #4a4a4a;
$heading-color: darken($text-color, 10%);
$link-color: #237dac;
$text-muted: #9a9a9a;
$text-strong: #4e4e4e;


/*--------------------
  Header
--------------------*/
$header-bg: #373d42;
$logo-color: #fff;
$header-link-color: #fff;


/*--------------------
  Border Colors
--------------------*/
$line-color: #efefef;


/*--------------------
  Form
--------------------*/
$input-border: #f4f4f4;
$input-focus-border-color: #B3E5FC;
$form-wrapper-bg: #fff;
$form-wrapper-border-color: #efefef;


/*--------------------
  Sidebar
--------------------*/
$sidebar-bg: #f1f1f1;
$sidebar-heading-color: #969696;
$sidebar-link-color: $text-color;
$sidebar-link-hover-bg: rgba(0,0,0,0.02);
$sidebar-link-active-bg: rgba(0,0,0,0.04);
$sidebar-link-hove-color: #5c6267;
$sidebar-link-active-color: #5c6267;


/*--------------------
  Colors
--------------------*/
$white: #fff;
$blue: #2196F3;
$light-blue: #03A9F4;
$red: #F44336;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$orange: #FF9800;
$amber: #FFC107;
$grey: #9E9E9E;
$blue-gray: #607D8B;
$dark: #252b2f;
$black: #000;


/*--------------------
  Code
--------------------*/
$code-bg: #F1F1F1;
$code-color: darken($text-color, 10%);


/*--------------------
  Table
--------------------*/
$table-bg: #fff;
$table-border-color: $line-color;
$th-bg: #fbfbfb;
$th-color: darken($text-color, 10%);


/*--------------------
  Button
--------------------*/
$button-default-border-color: #efefef;
$button-default-bg: #fff;
$button-blue-bg: #42A5F5;
$button-blue-border-color: #42A5F5;
$button-red-bg: #EF5350;
$button-red-border-color: #EF5350;
$button-green-bg: #4CAF50;
$button-green-border-color: #4CAF50;


/*--------------------
  Footer
--------------------*/
$footer-color: #9F9F9F;


/*--------------------
  Dropdown
--------------------*/
$dropdown-bg: #fff;
$dropdown-border-color: #efefef;
$dropdown-link-color: #7c8287;
$dropdown-link-hover-bg: #f9f9f9;
$dropdown-link-hover-color: #7c8287;