<div class="action-header clearfix">
  <div class="action-header__item action-header__back">
    <a href="<%= users_path%>"></a>
  </div>
  <div class="action-header__item action-header__title">
    Update user information
  </div>
</div>


<div class="container container--small">
  <%= render 'form' %>
</div>

