<div class="actions">
  <div class="actions__trigger">
    <%= icon('bars') %>
  </div>

  <div class="actions__back">
    <a href="<%= users_path%>"></a>
  </div>

  <div class="actions__title">
    Update user
  </div>
</div>


<div class="container container--small">
  <%= render 'form' %>
</div>

