<div class="actions">
  <div class="actions__trigger">
    <%= icon('bars') %>
  </div>

  <div class="actions__back">
    <a href="<%= users_path%>"><i class="icon icon--arrow-left"></i></a>
  </div>

  <div class="actions__title">
    Create new user
  </div>
</div>

<div class="container container--small">
  <%= render 'form' %>
</div>
