<div class="action-header clearfix">
  <div class="action-header__item action-header__back">
    <a href="<%= users_path%>"><i class="icon icon--arrow-left"></i></a>
  </div>
  <div class="action-header__item action-header__title">
    Create new user  </div>
</div>


<div class="container container--small">
  <%= render 'form' %>
</div>
