<div class="action-header clearfix">
  <div class="action-header__item action-header__back">
    <a href="<%= documents_path %>"></a>
  </div>
  <div class="action-header__item action-header__title">
    Edit document
  </div>
</div>

<div class="container">
  <%= render 'form' %>
</div>
