<div class="action-header clearfix">
  <div class="action-header__item action-header__back">
    <a href="<%= documents_path %>"></a>
  </div>
  <div class="action-header__item action-header__title">
    Add new document
  </div>
</div>

<div class="container">
  <%= render 'form' %>
</div>
<script src="/assets/jquery.form-validator.min.js"></script>
