<div class="page-error">
  <div class="page-error__inner">
    <h3>Oops! Something went wrong...</h3>
    <p>We seem to be having some technical difficulties. <br>Hang tight.</p>
  </div>

  <div class="page-error__links">
    <%= link_to icon('arrow-circle-o-left')+' Previous page', url_for(:back) %>
    <%= link_to icon('arrow-circle-o-up')+' Go to home', hub_path %>
  </div>
</div>