<div class="page-error">
  <div class="page-error__inner">
    <h2>404</h2>
    <p>I have no idea where that document is, sorry. Are you sure you typed in the correct URL?</p>
  </div>

  <div class="page-error__links">
    <%= link_to icon('arrow-circle-o-left')+' Previous page', url_for(:back) %>
    <%= link_to icon('arrow-circle-o-up')+' Go to home', hub_path %>
  </div>
</div>