/* temp vars + mixins */
$text-color: #5c6267;
$line-color: #efefef;

@mixin button-types($bg-color, $color, $border-color) {
  background-color: $bg-color;
  color: $color;
  border-color: $border-color;

  &:hover,
  &:focus {
    background-color: darken($bg-color, 4%);
  }
}

/*---------------------------
    Header
----------------------------*/
#header {
  background-color: #373d42;
  padding: 30px 40px;
  clear: both;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &, a {
    color: #fff;
  }
}

.header__logo {
  float: left;
  font-size: 22px;
}

.header__menu {
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      display: inline-block;

      & > a {
        display: block;
        font-size: 15px;
        padding: 0 10px;
      }
    }
  }
}


/*---------------------------
    Wrapper
----------------------------*/
#main {
  &:not(.main--alt) {
    padding: 80px 0 80px 300px;
  }

  &.main--alt {
    padding: 80px 0 0;
  }
}

.main__sidebar {
  width: 300px;
  z-index: 9;
  position: fixed;
  left: 0;
  height: calc(100% - 80px);
  overflow: hidden;
  background: #f1f1f1;
  padding: 40px;

  &:hover {
    overflow-y: auto;
  }
}

.main__page {
  padding: 50px;
  position: relative;
}


/*---------------------------
    Sidebar
----------------------------*/
.sidebar {
  &, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & > li {
    & > a {
      color: #a2a2a2;
      font-size: 12px;
      text-transform: uppercase;
    }

    & > ul {
      margin: 10px 0 40px;
      & > li {
        & > a {
          padding: 8px 40px;
          color: #5c6267;
          display: block;
          margin: 0 -40px 0;

          &:hover {
            background-color: #e8e8e8;
          }
        }
      }
    }
  }
}


/*---------------------------
    Footer
----------------------------*/
#footer {
  text-align: center;
  padding: 30px;
  border-top: 1px solid lighten($line-color, 1%);
  position: relative;
  color: #9F9F9F;

  a:hover {
    color: #737373;
  }
}

.footer__user {
  position: absolute;
  left: 20px;
  top: 23px;
}


/*---------------------------
    Button
----------------------------*/
.button {
  padding: 8px 12px;
  line-height: 100%;
  border-radius: 2px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  display: inline-block;

  &:not([class*="button--"]) {
    @include button-types(#fff, $text-color, #efefef);

  }
}

.button--blue {
  @include button-types(#42A5F5, #fff, #42A5F5);
}

.button--green {
  @include button-types(#4CAF50, #fff, #4CAF50);
}

.button--red {
  @include button-types(#EF5350, #fff, #EF5350);
}


/*---------------------------
    Form
----------------------------*/
.form-wrapper {
  background-color: #fff;
  padding: 35px;
  border: 1px solid #efefef;
  border-radius: 2px;
}

.form-group {
  margin-bottom: 20px;

  & > label {
    display: block;
    margin-bottom: 5px;
  }
}

.form-group__field {
  height: 35px;
  width: 100%;
  border: 1px solid #eee;
  padding: 0 15px;
}

.form-wrapper__footer {
  margin: 15px -35px -35px;
  padding: 25px;
  border-top: 1px solid lighten($line-color, 2%);
  text-align: center;
}



/*---------------------------
    Login
----------------------------*/
.form-wrapper--login {
  margin: 0 auto;
  max-width: 400px;
}



/*---------------------------
    Dropdown
----------------------------*/
.dropdown {
  position: relative;
  display: inline-block;

  &:not(.dropdown--up) {
    .dropdown__menu {
      top: 0;
    }
  }

  &.dropdown--open {
    .dropdown__menu {
      display: block;
      z-index: 101;
    }
  }
}

.dropdown__menu {
  position: absolute;
  left: 0;
  min-width: 150px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid $line-color;
  margin: 0;
  list-style: none;
  padding: 10px 0;
  text-align: left;
  display: none;

  & > li {
    & > a {
      display: block;
      padding: 10px 20px;
      color: $text-color;

      &:hover {
        background-color: #f9f9f9;
      }
    }
  }
}

.dropdown--up {
  .dropdown__menu {
    bottom: 0;
  }
}


/*---------------------------
    Backdrop
----------------------------*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  cursor: pointer;
}