/*---------------------------
    Header
----------------------------*/
#header {
    background-color: #373d42;
    padding: 30px 40px;
    clear: both;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    &, a {
        color: #fff;
    }
}

.header__logo {
    float: left;
    font-size: 22px;
}

.header__menu {
    float: right;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        & > li {
            display: inline-block;

            & > a {
                display: block;
                font-size: 15px;
                padding: 0 10px;
            }
        }
    }
}


/*---------------------------
    Wrapper
----------------------------*/
#wrapper {
    padding: 80px 0 0 300px;
}

.wrapper__sidebar {
    width: 300px;
    z-index: 9;
    position: fixed;
    left: 0;
    height: calc(100% - 80px);
    overflow: hidden;
    background: #f1f1f1;
    padding: 40px;

    &:hover {
        overflow-y: auto;
    }
}

.wrapper__page {
    padding: 50px;
    position: relative;
}


/*---------------------------
    Sidebar
----------------------------*/
.sidebar {
    &, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    & > li {
        & > a {
            color: #a2a2a2;
            font-size: 12px;
            text-transform: uppercase;
        }

        & > ul {
            margin: 10px 0 40px;
            & > li {
                & > a {
                    padding: 8px 40px;
                    color: #5c6267;
                    display: block;
                    margin: 0 -40px 0;

                    &:hover {
                        background-color: #e8e8e8;
                    }
                }
            }
        }
    }
}


