<div class="action-header clearfix">
    <ul class="action-header__item action-header__item--menu action-header__item--tabs">
        <li class="active"><a data-toggle="tab" href="#project-settings">Project Settings</a></li>
        <li><a data-toggle="tab" href="#social-links">Social Links</a></li>
        <li><a data-toggle="tab" href="#appearance">Appearance</a></li>
    </ul>
</div>


<%= render 'form' %>
