<div class="actions">
  <div class="actions__trigger">
    <%= icon('bars') %>
  </div>

  <div class="actions__back">
    <a href="<%= categories_path%>"></a>
  </div>

  <div class="actions__title">
    Create new category
  </div>
</div>


<div class="container container--small">
  <%= render 'form' %>
</div>

