


<p id="notice"><%= notice %></p>
<div class="list-group list-group--action">
  <% @documents.each do |doc| %>
      <% if doc.state != "hidden" %>
      <div class="list-group__wrap">
        <a class="list-group__item" href="<%=document_path(doc.slug) %>" >
          <div class="list-group__title"><%= doc.name %></div>
          <div class="list-group__text"><%= doc.description %></div>
        </a>            
      </div>
      <% end %>
  <% end %>
</div>