<!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade to any of the following web browsers to access this website.</p>

        <div class="ie-warning__downloads">
            <a href="http://www.google.com/chrome">
                <img src="/assets/browsers/chrome.png" alt="">
            </a>

            <a href="https://www.mozilla.org/en-US/firefox/new">
                <img src="/assets/browsers/firefox.png" alt="">
            </a>

            <a href="http://www.opera.com">
                <img src="/assets/browsers/opera.png" alt="">
            </a>

            <a href="https://support.apple.com/downloads/safari">
                <img src="/assets/browsers/safari.png" alt="">
            </a>

            <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">
                <img src="/assets/browsers/edge.png" alt="">
            </a>

            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                <img src="/assets/browsers/ie.png" alt="">
            </a>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
<![endif]-->